// Navigation Styles here

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px dashed #D4D4D4;
    
    
    .anchors {
        display: flex;
        justify-content: space-between;
    }
        
    a {
        padding: 15px;
    }
}


